asgiref==3.11.0
click==8.3.1
Django==5.1.14
django-tailwind-cli==4.4.2
django-typer==3.5.0
semver==3.0.4
shellingham==1.5.4
sqlparse==0.5.4
typer-slim==0.20.0
typing_extensions==4.15.0
django-allauth~=0.63
