asgiref==3.11.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
cloudinary==1.44.1
Django==5.1.14
django-allauth==0.63.6
django-cloudinary-storage==0.3.0
django-tailwind-cli==4.4.2
django-typer==3.5.0
idna==3.11
gunicorn==21.2.0
pillow==12.0.0
requests==2.32.5
semver==3.0.4
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.4
stripe==14.0.1
typer-slim==0.20.0
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.11.0
