{% load tailwind_cli %}
{% load static %}

<!doctype html>
<html lang="en" data-theme="pomodoro">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Heritage Tomato Club{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% tailwind_css %}

    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

  </head>

  <body class="min-h-screen bg-base-100 text-base-content flex flex-col">

    {# --------------------- NAVBAR --------------------- #}
    {% block navbar %}
      {% include "includes/navbar.html" %}
    {% endblock navbar %}

    {# ------------------- FLASH MESSAGES ------------------- #}
    <section class="max-w-4xl mx-auto w-full mt-4 px-4">
      {% if messages %}
        <div class="space-y-2">
          {% for message in messages %}
            <div class="alert alert-info shadow">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>

    {# -------------------- MAIN CONTENT -------------------- #}
    <main class="flex-1 w-full">
      {% block content %}{% endblock content %}
    </main>

    {# ---------------------- FOOTER ------------------------ #}
    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock footer %}

  </body>
</html>
